* {
  box-sizing: border-box; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  font-size: 16px;
  background: #fff;
  background: -webkit-linear-gradient(to right, #fff, #fff);
  background: linear-gradient(to right, #fff, #fff); }

.hide {
  display: none; }

.notification {
  color: #7c7c7f; }

.container {
  color: #7c7c7f; }

.textLeft {
  text-align: left; }

.textRight {
  text-align: right; }

.translucido {
  background-color: rgba(69, 70, 78, 0.2901960784) !important; }

.slide-down {
  -webkit-animation: fadeOut 5s linear forwards;
  -moz-animation: fadeOut 5s linear forwards;
  -o-animation: fadeOut 5s linear forwards;
  -ms-animation: fadeOut 5s linear forwards;
  animation: fadeOut 5s linear forwards; }

nav ul a {
  color: #7c7c7f !important; }

.dropdown-content {
  width: 152px !important;
  height: 115px !important; }

.cadastreSeFrom {
  display: none;
  padding-bottom: 3rem; }

.textCenter {
  text-align: center !important; }

.shadow {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3) !important;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3) !important; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  90% {
    opacity: 1;
    -webkit-transform: translateY(0px); }
  99% {
    opacity: 0;
    -webkit-transform: translateY(-30px); }
  100% {
    opacity: 0; } }
@-moz-keyframes fadeOut {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  90% {
    opacity: 1;
    -moz-transform: translateY(0px); }
  99% {
    opacity: 0;
    -moz-transform: translateY(-30px); }
  100% {
    opacity: 0; } }
@-o-keyframes fadeOut {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  90% {
    opacity: 1;
    -o-transform: translateY(0px); }
  99% {
    opacity: 0;
    -o-transform: translateY(-30px); }
  100% {
    opacity: 0; } }
@-ms-keyframes fadeOut {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  90% {
    opacity: 1;
    -ms-transform: translateY(0px); }
  99% {
    opacity: 0;
    -ms-transform: translateY(-30px); }
  100% {
    opacity: 0; } }
@keyframes fadeOut {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  90% {
    opacity: 1;
    transform: translateY(0px); }
  99% {
    opacity: 0;
    transform: translateY(-30px); }
  100% {
    opacity: 0; } }
#main {
  display: flex; }

#main > article {
  flex: 1;
  order: 1; }

#main > nav,
#main > aside {
  flex: 20vw; }

#main > nav {
  order: 1; }

#main > aside {
  order: 2; }

.textCenter {
  text-align: center; }

header {
  /* height: 6.5vh; */
  background: #fff; }

footer {
  background: #fff;
  text-align: center;
  border-top: 2px solid rgba(69, 70, 78, 0.2901960784); }

article, nav, aside {
  padding: 1em; }

.navbar {
  background-color: none !important;
  border-bottom: 2px solid rgba(69, 70, 78, 0.2901960784); }

.navbar-item, .navbar-item, .navbar-link {
  color: #7c7c7f !important;
  font-weight: 700; }

.navbar-item img {
  width: 60px !important; }

strong {
  color: #7c7c7f !important; }

a {
  color: #7c7c7f !important; }

.navbar-start a:hover {
  background: rgba(69, 70, 78, 0.2901960784) !important;
  border-radius: 10px;
  background: #7c7c7f; }

.logoText {
  font-size: 1.5rem;
  margin-left: 20px;
  margin-right: 20px; }

@media (min-width: 200px) and (max-width: 399px) {
  #dropdown {
    display: block !important;
    margin-right: 10px;
    float: right; }

  .row .col {
    padding: 0 1.75rem !important; }

  #logoTriangle {
    margin-right: 20px;
    margin-top: 5px; }

  #main {
    display: flow-root; }

  .navbar {
    height: 91px; }

  .navbar-menu {
    display: none !important;
    float: left !important;
    background-color: rgba(255, 255, 255, 0) !important;
    box-shadow: none !important;
    padding: 0.9rem 0 !important; }

  .navbar-burger {
    display: none !important; }

  .navbar-start {
    justify-content: flex-start;
    margin-right: auto;
    align-items: stretch;
    display: flex; }

  .navbar-brand {
    float: left; }

  .navbar-end {
    position: absolute;
    right: 17px;
    top: 21px; }

  .navbar-end {
    display: none;
    float: right; } }
@media (min-width: 300px) and (max-width: 350px) {
  #dropdown {
    display: block !important;
    margin-right: 10px;
    float: right; }

  .row .col {
    padding: 0 1.75rem !important; }

  #logoTriangle {
    margin-right: 20px;
    margin-top: 5px; }

  #main {
    display: flow-root; }

  .container {
    width: 100% !important; }

  .title {
    font-size: 1.7rem !important; }

  .columns.is-mobile {
    margin-left: 0px;
    width: 100%;
    display: block !important; }

  .navbar {
    height: 91px; }

  .navbar-menu {
    display: none !important;
    float: left !important;
    background-color: rgba(255, 255, 255, 0) !important;
    box-shadow: none !important;
    padding: 0.9rem 0 !important; }

  .navbar-burger {
    display: none !important; }

  .navbar-start {
    justify-content: flex-start;
    margin-right: auto;
    align-items: stretch;
    display: flex; }

  .navbar-brand {
    float: left; }

  .navbar-end {
    display: none;
    float: right; } }
@media (min-width: 351px) and (max-width: 399px) {
  #dropdown {
    display: block !important;
    margin-right: 10px;
    float: right; }

  .row .col {
    padding: 0 1.75rem !important; }

  #logoTriangle {
    margin-right: 20px;
    margin-top: 5px; }

  #main {
    display: flow-root; }

  .container {
    width: 100% !important; }

  .title {
    font-size: 1.7rem !important; }

  .columns.is-mobile {
    margin-left: 0px;
    width: 100%;
    display: block !important; }

  .navbar {
    height: 91px; }

  .navbar-menu {
    display: none !important;
    float: left !important;
    background-color: rgba(255, 255, 255, 0) !important;
    box-shadow: none !important;
    padding: 0.9rem 0 !important; }

  .navbar-burger {
    display: none !important; }

  .navbar-start {
    justify-content: flex-start;
    margin-right: auto;
    align-items: stretch;
    display: flex; }

  .navbar-brand {
    float: left; }

  .navbar-end {
    display: none;
    float: right; } }
@media (min-width: 400px) and (max-width: 499px) {
  #dropdown {
    display: block !important;
    margin-right: 10px;
    float: right; }

  .row .col {
    padding: 0 1.75rem !important; }

  #logoTriangle {
    margin-right: 20px;
    margin-top: 5px; }

  #main {
    display: flow-root; }

  .container {
    width: 100% !important; }

  .title {
    font-size: 1.7rem !important; }

  .columns.is-mobile {
    margin-left: 0px;
    width: 100%;
    display: block !important; }

  .navbar {
    height: 91px; }

  .navbar-menu {
    display: none !important;
    float: left !important;
    background-color: rgba(255, 255, 255, 0) !important;
    box-shadow: none !important;
    padding: 0.9rem 0 !important; }

  .navbar-burger {
    display: none !important; }

  .navbar-start {
    justify-content: flex-start;
    margin-right: auto;
    align-items: stretch;
    display: flex; }

  .navbar-brand {
    float: left; }

  .navbar-end {
    display: none;
    float: right; } }
@media (min-width: 500px) and (max-width: 599px) {
  #dropdown {
    display: block !important;
    margin-right: 10px;
    float: right; }

  .row .col {
    padding: 0 1.75rem !important; }

  #logoTriangle {
    margin-right: 20px;
    margin-top: 5px; }

  #main {
    display: flow-root; }

  .navbar {
    height: 91px; }

  .navbar-menu {
    display: none !important;
    float: left !important;
    background-color: rgba(255, 255, 255, 0) !important;
    box-shadow: none !important;
    padding: 0.9rem 0 !important; }

  .navbar-burger {
    display: none !important; }

  .navbar-start {
    justify-content: flex-start;
    margin-right: auto;
    align-items: stretch;
    display: flex; }

  .navbar-brand {
    float: left; }

  .navbar-end {
    display: none;
    float: right; } }
@media (min-width: 600px) and (max-width: 699px) {
  #dropdown {
    margin-right: 10px;
    float: right;
    display: none; }

  .row .col {
    padding: 0 1.75rem !important; }

  #logoTriangle {
    margin-right: 20px;
    margin-top: 5px; }

  #main {
    display: flow-root; }

  .container {
    width: 100% !important; }

  .navbar {
    height: 91px; }

  .navbar-menu {
    display: block !important;
    float: left !important;
    background-color: rgba(255, 255, 255, 0) !important;
    box-shadow: none !important;
    padding: 0.9rem 0 !important; }

  .navbar-burger {
    display: none !important; }

  .navbar-start {
    justify-content: flex-start;
    margin-right: auto;
    align-items: stretch;
    display: flex; }

  .navbar-brand {
    float: left; }

  .navbar-end {
    display: none;
    float: right; } }
@media (min-width: 700px) and (max-width: 799px) {
  #dropdown {
    margin-right: 10px;
    float: right;
    display: none; }

  .row .col {
    padding: 0 1.75rem !important; }

  #logoTriangle {
    margin-right: 20px;
    margin-top: 5px; }

  .container {
    width: 100% !important; }

  .navbar {
    height: 91px; }

  .navbar-menu {
    display: block !important;
    float: left !important;
    background-color: rgba(255, 255, 255, 0) !important;
    box-shadow: none !important;
    padding: 0.9rem 0 !important; }

  .navbar-burger {
    display: none !important; }

  .navbar-start {
    justify-content: flex-start;
    margin-right: auto;
    align-items: stretch;
    display: flex; }

  .navbar-brand {
    float: left; }

  .navbar-end {
    float: right; } }
@media (min-width: 800px) and (max-width: 899px) {
  #dropdown {
    margin-right: 10px;
    float: right;
    display: none; }

  .row .col {
    padding: 0 1.75rem !important; }

  #logoTriangle {
    margin-right: 20px;
    margin-top: 5px; }

  .navbar {
    height: 91px; }

  .navbar-menu {
    display: block !important;
    float: left !important;
    background-color: rgba(255, 255, 255, 0) !important;
    box-shadow: none !important;
    padding: 0.9rem 0 !important; }

  .navbar-burger {
    display: none !important; }

  .navbar-start {
    justify-content: flex-start;
    margin-right: auto;
    align-items: stretch;
    display: flex; }

  .navbar-brand {
    float: left; }

  .navbar-end {
    float: right; } }
@media (min-width: 900px) and (max-width: 999px) {
  #dropdown {
    margin-right: 10px;
    float: right;
    display: none; }

  .row .col {
    padding: 0 1.75rem !important; }

  #logoTriangle {
    margin-right: 20px;
    margin-top: 5px; }

  .navbar {
    height: 91px; }

  .navbar-menu {
    display: block !important;
    float: left !important;
    background-color: rgba(255, 255, 255, 0) !important;
    box-shadow: none !important;
    padding: 0.9rem 0 !important; }

  .navbar-burger {
    display: none !important; }

  .navbar-start {
    justify-content: flex-start;
    margin-right: auto;
    align-items: stretch;
    display: flex; }

  .navbar-brand {
    float: left; }

  .navbar-end {
    float: right; } }
@media (min-width: 1000px) and (max-width: 1267px) {
  #dropdown {
    margin-right: 10px;
    float: right;
    display: none; }

  .row .col {
    padding: 0 1.75rem !important; }

  #logoTriangle {
    margin-right: 20px;
    margin-top: 5px; }

  .navbar {
    height: 91px; }

  .navbar-menu {
    display: block !important;
    float: left !important;
    background-color: rgba(255, 255, 255, 0) !important;
    box-shadow: none !important;
    padding: 0.9rem 0 !important; }

  .navbar-burger {
    display: none !important; }

  .navbar-start {
    justify-content: flex-start;
    margin-right: auto;
    align-items: stretch;
    display: flex; }

  .navbar-brand {
    float: left; }

  .navbar-end {
    float: right; } }
.barHeigth {
  height: 600px; }

#dropdown {
  display: none; }

.button.is-link {
  background-color: #fff !important;
  color: #7c7c7f !important; }

.collapsible-body {
  background: rgba(222, 228, 230, 0.2784313725) !important;
  margin-top: 4px;
  border-radius: 8px; }

.boxDisponivel {
  display: flex;
  justify-content: center;
  align-items: center; }
  .boxDisponivel a {
    display: flex;
    padding: 19px; }
    .boxDisponivel a span {
      margin-left: 17px; }

.collapsible-header {
  font-size: 1rem !important;
  background-color: rgba(69, 70, 78, 0.2901960784) !important; }

.textTop {
  margin-top: 20%;
  color: #fff !important;
  text-shadow: 1px 1px 1px #7c7c7f; }

.textCorPrimario {
  color: #fff !important; }

.containerText {
  background: #fff;
  color: #7c7c7f;
  padding: 40px; }

.backgroudImage {
  background-image: url("../../imgs/banner.png");
  background-repeat: no-repeat;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire */ }

.title, .subtitle {
  color: #7c7c7f !important; }

.boxButtonBottom {
  float: right; }

.textRoot {
  color: #7c7c7f !important; }

.superior {
  position: absolute !important;
  width: 100%;
  z-index: 9; }

.boxButtonBottom a {
  color: #7c7c7f !important;
  font-weight: 700; }

.link a {
  color: #7c7c7f !important;
  font-weight: 700; }

.button strong {
  color: #7c7c7f !important; }

.content strong, small, p {
  color: #7c7c7f !important; }

.imgMin {
  max-width: 50% !important; }

.notificationFormulario {
  display: none; }

.iconSize {
  font-size: 25px !important; }

.iconLeft {
  float: left !important;
  margin-left: 15PX !important; }

.boxRight {
  float: right !important; }

/*# sourceMappingURL=index.css.map */
