.hide{
    display: none;
}
.notification {
color:$corTexto; 

}
.container{
    color:$corTexto;
}

.textLeft{
    text-align: left;
}
.textRight{
    text-align: right;
}
.translucido{
    background-color: $corTranslucida !important;
}

#logoTriangle{}

.slide-down{
    -webkit-animation: fadeOut 5s linear forwards;
    -moz-animation: fadeOut 5s linear forwards;
    -o-animation: fadeOut 5s linear forwards;
    -ms-animation: fadeOut 5s linear forwards;
    animation: fadeOut 5s linear forwards;
}

nav ul a {
    color:$corTexto !important;
}
.dropdown-content{
    width:152px !important;
    height:115px !important;
}

.cadastreSeFrom{
    display: none;
    padding-bottom: 3rem;
}

.textCenter{
    text-align: center !important;
}

.shadow{
  
    -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3) !important;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3) !important;
}