//linear-gradient(70deg, #76b315 55%, #39bd18)

// $corPrimaria : #76b315;
// $corSub: #39bd18;
// $corTranslucida:rgba(69, 70, 78, 0.2901960784);
// $corTexto:#fff;

$corPrimaria : #fff;
$corSub: #fff;
$corTranslucida:rgba(69, 70, 78, 0.2901960784);
$corTexto:#7c7c7f;


//linear-gradient(to right, #0072ff, #00c6ff)