@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?qmk6y2');
  src:  url('fonts/icomoon.eot?qmk6y2#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?qmk6y2') format('truetype'),
    url('fonts/icomoon.woff?qmk6y2') format('woff'),
    url('fonts/icomoon.svg?qmk6y2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-triangle:before {
  content: "\e90f";
}
.icon-android:before {
  content: "\e900";
  color: #a4c639;
}
.icon-googleplay:before {
  content: "\e901";
  color: #607d8b;
}
.icon-googlepay:before {
  content: "\e902";
  color: #5f6368;
}
.icon-whatsapp:before {
  content: "\e903";
  color: #25d366;
}
.icon-facebook:before {
  content: "\e904";
  color: #3b5998;
}
.icon-instagram:before {
  content: "\e905";
  color: #e4405f;
}
.icon-triangle-up:before {
  content: "\e90e";
}
.icon-payment:before {
  content: "\e90d";
}
.icon-credit-card:before {
  content: "\e90c";
}
.icon-phone:before {
  content: "\e906";
}
.icon-telephone:before {
  content: "\e906";
}
.icon-contact:before {
  content: "\e906";
}
.icon-support:before {
  content: "\e906";
}
.icon-call:before {
  content: "\e906";
}
.icon-android1:before {
  content: "\e907";
}
.icon-brand:before {
  content: "\e907";
}
.icon-os:before {
  content: "\e907";
}
.icon-mobile:before {
  content: "\e907";
}
.icon-whatsapp1:before {
  content: "\e908";
}
.icon-brand1:before {
  content: "\e908";
}
.icon-social:before {
  content: "\e908";
}
.icon-facebook1:before {
  content: "\e909";
}
.icon-brand2:before {
  content: "\e909";
}
.icon-social1:before {
  content: "\e909";
}
.icon-facebook2:before {
  content: "\e90a";
}
.icon-brand4:before {
  content: "\e90a";
}
.icon-social3:before {
  content: "\e90a";
}
.icon-instagram1:before {
  content: "\e90b";
}
.icon-brand3:before {
  content: "\e90b";
}
.icon-social2:before {
  content: "\e90b";
}
